[submodule "bottle"]
	path = lib/bottle
	url = https://github.com/defnull/bottle.git
[submodule "google_appengine"]
	path = lib/google_appengine
	url = git://github.com/lann/python-google-appengine.git
[submodule "beaker"]
	path = lib/beaker
	url = git://github.com/lann/python-beaker.git
